a {
    color: #3D37F1;
}
.header {
    display: flex;
    margin: auto;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 126px;
    padding: 30px;
    top: 30px;
 
}
.logo {
    font-family: 'Lato';
    font-size: 32px;
    width: 190px;
    height: 43px;
}
.navigations {
    display: flex;
    width: 596px;
    height: 27px;
}
.nav-li {
    font-family: 'Lato';
    font-weight: bold;
    font-size: 20px;
    margin-right: 50px;
}
.nav-li: :last-child {
    margin-right : 0;
}
/*section1*/
.section1 {
    display: flex;
    width: 1708px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.right-box {
    width: 800px;
    height: 527px;
}
.h2 {
    font-family: 'Lato';
    font-weight: bold;
    line-height: 109px;
    width: 636px;
    font-size: 78px;
    color: #534D4D;
    
}
.small-paragraph {
    font-family: 'Roboto';
    width: 602px;
    font-size: 22px;
    margin-top: 39px;
    margin-bottom: 84px;
    color: #534D4D;
}
.blue-box {
    display: flex;
    width: 264px;
    height: 77px;
    background-color: #3D37F1;
    border-radius: 38px;
    justify-content: center;
    align-items: center;
}
.span {
    font-family: 'Poppins';
    font-size: 23px;
    color: white;
}
.span::before {
    content: url(../images/waving-hand.png);
    margin-right: 30px;
}
.left-box {
    background-image: url(../images/undraw_pair_programming_njlp.png);
    margin-bottom: 287px;
    width: 800px;
    height: 527px;
    
}
/*section2*/
.section2 {
    display: flex;
    width: auto;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: center;
    background-color: #FBFCFD;
}
.hh {
    font-family: 'Lato';
    font-weight: bold;
    margin-top: 85px;
    font-size: 20px;
}
.hhh {
    font-family: 'Lato';
    font-size: 40px;
    margin-top: 12px;
    margin-bottom: 20px;
    color: #5A5454;
}
.paragtaph {
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 28px;
    color: #747474;
}
.block-wraper {
    width: 1169px;
    margin: 0 auto;

}
.text-block {
    padding-top: 85px;
    width: 720px;
    margin: 0 auto;
    text-align: center;

}
.flax-child-block1 {
    width: 370px;
    height: 451px;
    background-color: #FBBA77;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flax-child-block1-h4 {
    font-family: 'Lato';
    /*width: 104px;*/
    font-size: 22px;
    color: #FFFFFF;
    margin-top:  55px;
    margin-bottom: 11px;
}
.flax-child-block1-p {
    font-family: 'Roboto';
    line-height: 26px;
    width: 328px;
    height: 62px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 23px;
    padding-left: 21px;
    padding-right: 21px;
}
.flax-child-block1-div {
    width: 131px;
    height: 45px;
    background-color: #FFFFFF;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flax-child-block1-span {
    font-family: 'Roboto';
    font-size: 16px;
}
.flax-child-block2 {
    width: 370px;
    height: 451px;
    background-color: #41EAE3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flax-child-block2-h4 {
    font-family: 'Lato';
    width: 92px;
    font-size: 22px;
    color: #FFFFFF;
    margin-top:  55px;
    margin-bottom: 11px;
}
.flax-child-block2-p {
    font-family: 'Roboto';
    line-height: 26px;
    width: 328px;
    height: 62px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 23px;
    padding-left: 21px;
    padding-right: 21px;
}
.flax-child-block2-div {
    width: 131px;
    height: 45px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flax-child-block2-span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
}
.flax-child-block3-h4 {
    font-family: 'Lato';
    /*width: 136px;*/
    font-size: 22px;
    color: #FFFFFF;
    margin-top:  55px;
    margin-bottom: 11px;
}
.flax-child-block3-p {
    font-family: 'Roboto';
    width: 328px;
    line-height: 26px;
    height: 62px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 23px;
    padding-left: 21px;
    padding-right: 21px;
}
.flax-child-block3-div {
    width: 131px;
    height: 45px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flax-child-block3-span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
}
.flax-child-block3 {
    width: 370px;
    height: 451px;
    background-color: #69529F;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.row-flax1 {
    display: flex;
    justify-content: space-between;
    margin-top: 67px;
    margin-bottom: 60px;
}
.row-flax2 {
    display: flex;
    justify-content: space-between;
}
.flax-child-block4 {
    width: 370px;
    height: 451px;
    background-color: #4386D2;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flax-child-block4-h4 {
    font-family: 'Lato';
    width: 140px;
    font-size: 22px;
    color: #FFFFFF;
    margin-top:  55px;
    margin-bottom: 11px;
}
.flax-child-block4-p {
    font-family: 'Roboto';
    width: 328px;
    line-height: 26px;
    height: 62px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 23px;
    padding-left: 21px;
    padding-right: 21px;
}
.flax-child-block4-div {
    width: 131px;
    height: 45px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flax-child-block4-span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
}
.flax-child-block5 {
    width: 370px;
    height: 451px;
    background-color: #A5A2F6;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flax-child-block5-h4 {
    font-family: 'Lato';
    width: 116px;
    font-size: 22px;
    color: #FFFFFF;
    margin-top:  55px;
    margin-bottom: 11px;
}
.flax-child-block5-p {
    font-family: 'Roboto';
    width: 328px;
    line-height: 26px;
    height: 62px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 23px;
    padding-left: 21px;
    padding-right: 21px;
}
.flax-child-block5-div {
    width: 131px;
    height: 45px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flax-child-block5-span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
}
.flax-child-block6 {
    width: 370px;
    height: 451px;
    background-color: #FF8088;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.flax-child-block6-h4 {
    font-family: 'Lato';
    /*width: 138px;*/
    font-size: 22px;
    color: #FFFFFF;
    margin-top:  55px;
    margin-bottom: 11px;
}
.flax-child-block6-p {
    font-family: 'Roboto';
    width: 328px;
    line-height: 26px;
    height: 62px;
    font-size: 16px;
    color: #FFFFFF;
    margin-bottom: 23px;
    padding-left: 21px;
    padding-right: 21px;
}
.flax-child-block6-div {
    width: 131px;
    height: 45px;
    border-color: #FFFFFF;
    border-style: solid;
    border-width: 2px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.flax-child-block6-span {
    font-family: 'Roboto';
    font-size: 16px;
    color: #FFFFFF;
}
